#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: lightslategrey;
  border-radius: 4px;
}

.card > p {
  font-family: monospace;
  font-size: large;
  text-shadow: 2px 2px lightslategrey;
}
